<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>UNCC Login</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header class="header">
            <%- include('../partials/header.ejs')%>
            <%- include('../partials/navigation.ejs') %>
            <%- include('../partials/message.ejs') %>
        </header>
        <form action="/users/login" method="POST" class="login">
            <label>Email: </label>
            <input type="email" id="email" name="email" /><br/>
            <label>Password: </label>
            <input type="password" id="password" name="password" /><br/>

            <button>Login</button>
        </form>

        <%- include('../partials/aside.ejs') %>

        <%- include('../partials/footer.ejs')%>
    </body>
</html>