<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Connections</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header class="header">
            <%- include('../partials/header.ejs')%>
            <%- include('../partials/navigation.ejs')%>
        </header>
        <%- include('../partials/message.ejs') %>
    <div id="tables">
        <div id="welcome"><b><%= user.firstName %> Connections</b></div><br/>
        <table class="savedConnections">
            <tr>
                <th>Connection Events</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            <% runs.forEach(run => { %>
            <tr>
                <td>connectionName</td>
                <td>category</td>
                <td>
                    <form>
                        <button type="submit" formmethod="GET" formaction="/runs/myConnections">Edit</button>
                        <button type="submit" formmethod="GET" formaction="/runs/myConnections">Delete</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </table>
        <br/>
        
        <div id="welcome"><b><%= user.firstName %> RSVP Connections</b></div><br/>
        <table class="rsvpConnections">
            <% if(runs.length > 0){ %>
            <tr>
                <th>Connection Events</th>
                <th>Category</th>
                <th>Enrolled status</th>
                <th>Actions</th>
            </tr>
        
            <% user.rsvp.forEach(run => { %>
            <tr>
                <td><%= run.run.connectionName %></td>
                <td><%= run.run.category %> Run</td>
                <td><%= run.enrolled %></td>
                <td>
                    <form>
                        <button type="submit" formmethod="GET" formaction="/runs/connection/<%= run.run._id %>">Edit</button>
                        <button type="submit" formmethod="POST" formaction="/runs/connection/<%= run.run._id%>/enrolledStatus?_method=DELETE">Delete</button>
                    </form>
                </td>
            </tr>
            <% }) %>
            
            <% }else{ %>
                <b> <%= user.firstName %> don't have RSVP Connections</b>
                <%}%>
        </table>
    </div>

        <%- include('../partials/aside.ejs') %>

        <%- include('../partials/footer.ejs')%>
    </body>
</html>